

@media (min-width: 1440px){
    body{
        background-color: red;
    }
    p {
        font-size: 24px;
    }
    img {
        width: 50%;
        height: auto;
        
    }
}

@media (min-width: 768px){
    body{
        background-color: green;
    }

    p{
        font-size: 18px;
    }

    img{
        width: 50%;
        height: auto;
        
    }
}

@media (min-width: 425px){
    body{
        background-color: blue;
    }

    p{
        font-size: 14px;
    }

    img{
        width: 100%;
        height: auto;
        
    }
}
