.button {
    font-size: 28px;
    font-family: helvetica, "times new roman", sans-serif;
}

.primer_boton{
    background-color: black;
    color: white;
}
/* 
.primer_boton:hover{
    background-color: white;
} */

.segundo_boton{
    background-color: yellow;
}
